.Rhistory
.RData
.Ruserdata
.Rproj.user
/demo
/notes
notes.*
README.html
CONTRIBUTING.html
DEVELOP.html
RESOURCES.html
DEPLOY.html
BACKLOG.html
node_modules
/data
*.swp
.DS_Store
r/input.R
readme/lib
readme/stack.html
demo/*/data
demo/*/lib
demo/*/index.html
*.gz
